body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #69B41E;
  background: -moz-radial-gradient(center, #69B41E 0%, #2A480C 100%);
  background: -webkit-radial-gradient(center, #69B41E 0%, #2A480C 100%);
  background: radial-gradient(ellipse at center, #69B41E 0%, #2A480C 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
}

#name-popup {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#name-popup h1 {
  font-size: 36px;
}

#name-popup p {
  text-align: center;
}

#name-input {
  border: none;
  color: #2A480C;
  background-color: #CCAA00;
  width: 175px;
  padding: 5px 30px;
  font-size: 0.95rem;
  border-radius: 3px;
  text-shadow: 0 0 0.1px black;
}

.main {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #CCAA00;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, .2);
  font-size: 40px;
  margin: 0 auto;
}


.blink-red {
  color: red;
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#message {
  font-style: italic;
  border-bottom: 1px solid #CCAA00;
  text-shadow: 0 0 20px black;
}

button {
  font-weight: inherit;
  font-family: inherit;
  margin-bottom: -15px;
  border: none;
  color: #2A480C;
  background-color: #CCAA00;
  width: 175px;
  padding: 5px 30px;
  font-size: 0.95rem;
  border-radius: 3px;
  cursor: pointer;
}

p {
  margin: 0;
}

#bank {
  margin-top: 20px;
}

.game-screen {
  width: 120%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.screens {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.playing {
  border: 1px dashed #CCAA00;
  border-radius: 20px;
}

.side-p {
  margin-bottom: 30px;
  color: #2A480C;
}

.inner-p {
  margin-bottom: 20px;
}

.options {
  font-weight: initial;
  font-size: 0.9rem;
  color: #2A480C;
  text-align: center;
}

.multi-radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #2A480C;
  border-radius: 10px;
  color: #2A480C;
  background-color: #CCAA00;
  cursor: pointer;
}

.multi-radio:checked {
  background-color: #2A480C;
  border: 2px dotted #CCAA00;
}
