body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #69B41E;
  background: -moz-radial-gradient(center, #69B41E 0%, #2A480C 100%);
  background: -webkit-radial-gradient(center, #69B41E 0%, #2A480C 100%);
  background: radial-gradient(ellipse at center, #69B41E 0%, #2A480C 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
}

.main {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #CCAA00;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, .2);
  font-size: 40px;
  margin-bottom: 0px;
}

#message {
  font-style: italic;
}

button {
  font-weight: inherit;
  font-family: inherit;
  margin-bottom: -25px;
  border: none;
  color: #2A480C;
  background-color: #CCAA00;
  width: 175px;
  padding: 5px 30px;
  font-size: 0.95rem;
  border-radius: 3px;
}

p {
  margin: 0;
}

#bank {
  margin-top: 20px;
}
